body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(230, 230, 230);
}

div div {
    padding: 15px;
    border: 2 solid rgb(0, 0, 0);
    border-radius: 8px;
}