body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(230, 230, 230);
}

div div {
    width: 85%;
    margin: 0px auto;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
}

div table {
    border-collapse: collapse;
    width: 85%;
    margin: 0px auto;
    margin-top: 15px;
}
  
div th, td {
    text-align: center;
    padding: 8px;
}
  
div th {
    background-color: rgb(200, 200, 200);
    color: rgb(102, 102, 102);
    font-weight: bold;
}

div th {
    border-top: 1px solid rgb(102, 102, 102);
    border-left: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
} 
  
div  tr:nth-child(even) {
    background-color: rgb(249, 249, 249);
}

div td {
    border-top: 1px solid rgb(102, 102, 102);
    border-left: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
}

div td.fim {
    border-right: 1px solid rgb(102, 102, 102);
}

div td:hover {
    background-color: rgb(220, 220, 220);
}