body {
    margin: 0px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(230, 230, 230);
}

p {
    padding: 5px 15px;
    font-weight: bold;
    padding-bottom: 0px;
}

header {
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 255);
    box-shadow: 0px 6px 6px rgb(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
}

div {
    z-index: 1;
}

div#header {
    width: 10px;
    height: 25px;
    margin-bottom: 35px;
    background: none;
    box-shadow: none;
    border: none;
    z-index: 999;
}

header ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header ul li {
    color: rgb(255, 255, 255);
    display: inline-flex;
    padding: 20px;
}

header ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

header ul li a:hover {
    color: rgb(180, 180, 180);
}

header ul li#selectLanguage {
    padding: 15px;
}

header ul li#selectLanguage select {
    padding: 6px;
}

header ul li#buttonAcount {
    padding: 0px;
}

header ul li#buttonAcount button {
    padding: 22px;
    background-color: rgb(0, 0, 255);
    border: none;
    cursor: pointer;
}

header ul li.right {
    float: right;
}

div {
    width: 75%;
    margin: 15px auto;
    padding: 10px 5px;
    box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, 0.2);
}

div#template {
    background-color: rgb(25, 25, 255);
}

div#template h1#tableTitle {
    padding: 5px 15px;
    font-size: 28px;
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    position: absolute;
    margin-top: -35px;
    margin-left: 15px;
    z-index: 2;
}

div#template div#menu {
    width: 95%;
    padding: 10px 8px;
    margin-top: 35px;
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: none;
}

div#template div#menu input,
div#template div#menu select {
    padding: 5px 8px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
div#template div#menu input {
    width: 25%;
}

div#template div#menu select {
    font-size: 11px;
}

div#template div#menu input[type="datetime-local"] {
    font-size: 10px;
}

div#template div#menu .right {
    margin-left: 8px;
    float: right;
}

table {
    width: 98%;
    margin: 0px auto;
    text-align: center;
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
}

table tr th,
table tr td {
    padding: 3px;
}

table tr:first-child th {
    color: rgb(75, 75, 75);
    background-color: rgb(200, 200, 200);
    border: 2px solid rgb(75, 75, 75);
}

table tr td:nth-child(2n) {
    background-color: rgb(200, 200, 200);
}

table tr td:hover {
    background-color: rgb(180, 180, 180);
}

table tr.Done td {
    background-color: rgb(0, 255, 0);
}

table tr.Done td:nth-child(2n) {
    background-color: rgb(0, 180, 0);
}

table tr.Done td:hover,
table tr.Done td:nth-child(2n):hover {
    background-color: rgb(0, 200, 0);
}

table tr.Expired td {
    background-color: rgb(255, 0, 0);
}

table tr.Expired td:nth-child(2n) {
    background-color: rgb(200, 0, 0);
}

table tr.Expired td:hover,
table tr.Expired td:nth-child(2n):hover {
    background-color: rgb(180, 0, 0);
}

/* Home Page */
div#template div#menu a#addTaskLink {
    padding: 5px 8px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

div#template div#menu input#searchDate {
    display: none;
}

div#template table tr td#Done input {
    width: 15px;
    height: 15px;
    margin: 0px;
}

div#template table tr td#Done a {
    width: 15px;
    height: 15px;
    margin-left: -15px;
    position: absolute;
}