{% extends 'template.html' %}

{% block title %}
    {% if session['language'] == 'en' %}
        Edit Task
    {% elif session['language'] == 'pt' %}
        Editar Tarefa
    {% elif session['language'] == 'es' %}
        Editar Tarea
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}">
{% endblock %}

{% block content %}
    {% if session['language'] == 'en' %}
        <div id="template">
            <h1 id="tableTitle">Edit Task</h1>
            <div id="menu">
                <form action="/{{session['language']}}/execute/edit/{{row['id']}}" method="post">
                    <div>
                        <input type="text" name="title" id="title" value="{{row['title']}}" required/>
                        {% if row['done'] != 'S' %}
                            <input type="checkbox" name="done" class="right" id="done"><span class="right">Done:</span>
                        {% else %}
                            <input type="checkbox" name="done" class="right" id="done" checked><span class="right">Done:</span>
                        {% endif %}
                    </div> 
                    <div>
                        {% if row['description'] != None and row['description'] != '' %}
                            <textarea name="description" id="description">{{row['description']}}</textarea>
                        {% else %}
                            <textarea name="description" id="description" placeholder="Vázio"></textarea>
                        {% endif %}
                    </div>
                    <div>
                        <table>
                            <tr>
                                <th>Craated in</th>
                                <th>Updated in</th>
                            </tr>
                            <tr>
                                <td>{{row['created_at']}}</td>
                                <td>{{row['updated_at']}}</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        {% if row['due_date'] != None %}
                            <input type="datetime-local" name="date" id="date" value="{{row['due_date']}}T00:00:00">
                        {% else %}
                            <input type="datetime-local" name="date" id="date">
                        {% endif %}
                        <a href="/en/home" id="back">Return</a>
                        <a href="/en/execute/delet/{{row['id']}}" id="warning">Delet</a>
                        <input type="submit" id="submit" value="Edit">
                    </div>
                </form>
            </div>
        </div>
    {% elif session['language'] == 'pt' %}
        <div id="addTask">
            <h1 id="tableTitle">Tarefa</h1>
            <div>
                <form action="execute/addTask" method="post">
                    <div>
                        <input type="text" name="title" id="title" placeholder="Título" required/>
                        <input type="checkbox" name="done" class="right" id="done"><span class="right">Feito:</span>
                    </div>
                    <div>
                        <textarea name="description" id="description" placeholder="Descrição"></textarea>
                    </div>
                    <div>
                        <input type="datetime-local" name="date" id="date">
                        <input type="submit" class="right" id="submit" value="Salvar">
                        <a href="/pt/home" class="right" id="back">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    {% elif session['language'] == 'es' %}
        <div id="addTask">
            <h1 id="tableTitle">Tarea</h1>
            <div>
                <form action="execute/addTask" method="post">
                    <div>
                        <input type="text" name="title" id="title" placeholder="Título" required/>
                        <input type="checkbox" name="done" class="right" id="done"><span class="right">Hecho:</span>
                    </div>
                    <div>
                        <textarea name="description" id="description" placeholder="Descripción"></textarea>
                    </div>
                    <div>
                        <input type="datetime-local" name="date" id="date">
                        <input type="submit" class="right" id="submit" value="Ahorrar">
                        <a href="/es/home" class="right" id="back">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h1>Language not found try we have languages:</h1>
        <ul>
            <li><a href="/en/">English</a></li>
            <li><a href="/pt/">Portuguese</a></li>
            <li><a href="/es/">Spanish</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/date.js')}}"></script>
{% endblock %}