{% extends 'template.html' %}

{% block title %}
    {% if session['language'] == 'en' %}
        Home
    {% elif session['language'] == 'pt' %}
        Início
    {% elif session['language'] == 'es' %}
        Comienzo
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}">
{% endblock %}

{% block content %}
    {% if rows %}
        {% if session['language'] == 'en' %}
            <div id="task">
                <h1 id="tableTitle">All</h1>
                <div id="menu">
                    <ul>
                        <li><a href="addTask"><button>+ Task</button></a></li>
                        <li id="inputSearch"><input type="search" name="search" id="search" placeholder="Search"></li>
                    </ul>
                </div>
                <table>
                    <tr>
                        <th>Done</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created in</th>
                        <th>Actions</th>
                    </tr>
                    {% for row in rows %}
                        {% if row['done'] != 'N' %}
                            <tr class="Done">
                                <td id="Done"><input type="checkbox" id="check" checked><a href="execute/notdone/{{row['id']}}"></a></td>
                                <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                <td>{{row['description']}}</td>
                                <td>{{row['created_at']}}</td>
                                <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                            </tr>
                        {% else %}
                            {% if row['expired'] != True %}
                                <tr class="Expired">
                                    <td id="Done"><input type="checkbox" id="check"><a href="execute/done/{{row['id']}}"></a></td>
                                    <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                    <td>{{row['description']}}</td>
                                    <td>{{row['created_at']}}</td>
                                    <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td id="Done"><input type="checkbox" id="check"><a href="/execute/done/{{row['id']}}"></a></td>
                                    <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                    <td>{{row['description']}}</td>
                                    <td>{{row['created_at']}}</td>
                                    <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% elif session['language'] == 'pt' %}
            <div id="task">
                <h1 id="tableTitle">Todo</h1>
                <div id="menu">
                    <ul>
                        <li><a href="addTask"><button>+ Tarefa</button></a></li>
                        <li id="inputSearch"><input type="search" name="search" id="search" placeholder="Pesquisar"></li>
                    </ul>
                </div>
                <table>
                    <tr>
                        <th>Feito</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Criado em</th>
                        <th>Ações</th>
                    </tr>
                    {% for row in rows %}
                        {% if row['done'] != 'N' %}
                            <tr class="Done">
                                <td id="Done"><input type="checkbox" id="check" checked><a href="execute/notdone/{{row['id']}}"></a></td>
                                <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                <td>{{row['description']}}</td>
                                <td>{{row['created_at']}}</td>
                                <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                            </tr>
                        {% else %}
                            {% if row['expired'] != True %}
                                <tr class="Expired">
                                    <td id="Done"><input type="checkbox" id="check"><a href="execute/done/{{row['id']}}"></a></td>
                                    <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                    <td>{{row['description']}}</td>
                                    <td>{{row['created_at']}}</td>
                                    <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td id="Done"><input type="checkbox" id="check"><a href="/execute/done/{{row['id']}}"></a></td>
                                    <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                    <td>{{row['description']}}</td>
                                    <td>{{row['created_at']}}</td>
                                    <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% elif session['language'] == 'es' %}
            <div id="task">
                <h1 id="tableTitle">Todo</h1>
                <div id="menu">
                    <ul>
                        <li><a href="addTask"><button>+ Tarea</button></a></li>
                        <li id="inputSearch"><input type="search" name="search" id="search" placeholder="Buscar"></li>
                    </ul>
                </div>
                <table>
                    <tr>
                        <th>Hecho</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Creado en</th>
                        <th>Acciones</th>
                    </tr>
                    {% for row in rows %}
                        {% if row['done'] != 'N' %}
                            <tr class="Done">
                                <td id="Done"><input type="checkbox" id="check" checked><a href="execute/notdone/{{row['id']}}"></a></td>
                                <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                <td>{{row['description']}}</td>
                                <td>{{row['created_at']}}</td>
                                <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                            </tr>
                        {% else %}
                            {% if row['expired'] != True %}
                                <tr class="Expired">
                                    <td id="Done"><input type="checkbox" id="check"><a href="execute/done/{{row['id']}}"></a></td>
                                    <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                    <td>{{row['description']}}</td>
                                    <td>{{row['created_at']}}</td>
                                    <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td id="Done"><input type="checkbox" id="check"><a href="/execute/done/{{row['id']}}"></a></td>
                                    <td><a href="execute/edit/{{row['id']}}">{{row['title']}}</a></td>
                                    <td>{{row['description']}}</td>
                                    <td>{{row['created_at']}}</td>
                                    <td><a href="execute/delet/{{row['id']}}">Delet</a></td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <h1>Language not found try we have languages:</h1>
            <ul>
                <li><a href="/en/">English</a></li>
                <li><a href="/pt/">Portuguese</a></li>
                <li><a href="/es/">Spanish</a></li>
            </ul>
        {% endif %}
    {% else %}
        {% if session['language'] == 'en' %}
            <div id="task">
                <h1 id="tableTitle">All</h1>
                <p>Add first task</p>
                <div id="menu">
                    <ul>
                        <li><a href="addTask"><button>+ Task</button></a></li>
                        <li id="inputSearch"><input type="search" name="search" id="search" placeholder="Search"></li>
                    </ul>
                </div>
                <table>
                    <tr>
                        <th>Done</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created in</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                        <td>Null</td>
                    </tr>
                </table>
            </div>
        {% elif session['language'] == 'pt' %}
            <div id="task">
                <h1 id="tableTitle">Todo</h1>
                <p>Adicione primeira tarefa</p>
                <div id="menu">
                    <ul>
                        <li><a href="addTask"><button>+ Tarefa</button></a></li>
                        <li id="inputSearch"><input type="search" name="search" id="search" placeholder="Pesquisar"></li>
                    </ul>
                </div>
                <table>
                    <tr>
                        <th>Feito</th>
                        <th>Título</th>
                        <th>Descrição</th>
                        <th>Criado em</th>
                        <th>Ações</th>
                    </tr>
                    {% for row in rows %}
                        <tr>
                            <td>{{row['done']}}</td>
                            <td>{{row['title']}}</td>
                            <td>{{row['description']}}</td>
                            <td>{{row['created_at']}}</td>
                            <td>Delet</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% elif session['language'] == 'es' %}
            <div id="task">
                <h1 id="tableTitle">Todo</h1>
                <p>Añadir primera tarea</p>
                <div id="menu">
                    <ul>
                        <li><a href="addTask"><button>+ Tarea</button></a></li>
                        <li id="inputSearch"><input type="search" name="search" id="search" placeholder="Buscar"></li>
                    </ul>
                </div>
                <table>
                    <tr>
                        <th>Hecho</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Creado en</th>
                        <th>Acciones</th>
                    </tr>
                    <tr>
                        <td>Nulo</td>
                        <td>Nulo</td>
                        <td>Nulo</td>
                        <td>Nulo</td>
                        <td>Nulo</td>
                    </tr>
                </table>
            </div>
        {% else %}
            <h1>Language not found try we have languages:</h1>
            <ul>
                <li><a href="/en/">English</a></li>
                <li><a href="/pt/">Portuguese</a></li>
                <li><a href="/es/">Spanish</a></li>
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts %}{% endblock %}