{% extends 'template.html' %}

{% block title %}
    {% if session['language'] == 'en' %}
        Add Task
    {% elif session['language'] == 'pt' %}
        Adicionar Tarefa
    {% elif session['language'] == 'es' %}
        Agregar Tarea
    {% else %}
        Error
    {% endif %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/template.css')}}">
{% endblock %}

{% block content %}
    {% if session['language'] == 'en' %}
        <div id="addTask">
            <h1 id="tableTitle">Task</h1>
            <div>
                <form action="execute/addTask" method="post">
                    <div>
                        <input type="text" name="title" id="title" placeholder="Títle" required/>
                        <input type="checkbox" name="done" class="right" id="done"><span class="right">Done:</span>
                    </div>
                    <div>
                        <textarea name="description" id="description" placeholder="Description"></textarea>
                    </div>
                    <div>
                        <input type="datetime-local" name="date" id="date">
                        <input type="submit" class="right" id="submit" value="Save">
                        <a href="/en/home" class="right" id="back">Return</a>
                    </div>
                </form>
            </div>
        </div>
    {% elif session['language'] == 'pt' %}
        <div id="addTask">
            <h1 id="tableTitle">Tarefa</h1>
            <div>
                <form action="execute/addTask" method="post">
                    <div>
                        <input type="text" name="title" id="title" placeholder="Título" required/>
                        <input type="checkbox" name="done" class="right" id="done"><span class="right">Feito:</span>
                    </div>
                    <div>
                        <textarea name="description" id="description" placeholder="Descrição"></textarea>
                    </div>
                    <div>
                        <input type="datetime-local" name="date" id="date">
                        <input type="submit" class="right" id="submit" value="Salvar">
                        <a href="/pt/home" class="right" id="back">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    {% elif session['language'] == 'es' %}
        <div id="addTask">
            <h1 id="tableTitle">Tarea</h1>
            <div>
                <form action="execute/addTask" method="post">
                    <div>
                        <input type="text" name="title" id="title" placeholder="Título" required/>
                        <input type="checkbox" name="done" class="right" id="done"><span class="right">Hecho:</span>
                    </div>
                    <div>
                        <textarea name="description" id="description" placeholder="Descripción"></textarea>
                    </div>
                    <div>
                        <input type="datetime-local" name="date" id="date">
                        <input type="submit" class="right" id="submit" value="Ahorrar">
                        <a href="/es/home" class="right" id="back">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <h1>Language not found try we have languages:</h1>
        <ul>
            <li><a href="/en/">English</a></li>
            <li><a href="/pt/">Portuguese</a></li>
            <li><a href="/es/">Spanish</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/date.js')}}"></script>
{% endblock %}