<!DOCTYPE html>
{% if session['language'] %}
    <html lang="{{session['language']}}">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block title %}{% endblock %}</title>
            {% block styles %}{% endblock %}
        </head>
        <body>
            <header>
                <ul>
                    {% if session['language'] == 'en' %}
                        <li><a href="/en/home">Home</a></li>
                        <li id="buttonAcount" class="right"><button>Profile</button></li>
                        <li id="selectLanguage" class="right">
                            <form action="execute/language" id="formLanguage" method="post">
                                <select name="language" id="language">
                                    <option value="en">English</option>
                                    <option value="pt">Portuguese</option>
                                    <option value="es">Spanish</option>
                                </select>
                            </form>
                        </li>
                    {% elif session['language'] == 'pt' %}
                        <li><a href="/pt/home">Início</a></li>
                        <li id="buttonAcount" class="right"><button>Profile</button></li>
                        <li id="selectLanguage" class="right">
                            <form action="execute/language" method="post">
                                <select name="language" id="language">
                                    <option value="pt">Portugues</option>
                                    <option value="en">Inglês</option>
                                    <option value="es">Espanhol</option>
                                </select>
                            </form>
                        </li>
                    {% elif session['language'] == 'es' %}
                        <li><a href="/es/home">Comienzo</a></li>
                        <li id="buttonAcount" class="right"><button>Profile</button></li>
                        <li id="selectLanguage" class="right">
                            <form action="execute/language" method="post">
                                <select name="language" id="language">
                                    <option value="es">Español</option>
                                    <option value="en">Inglés</option>
                                    <option value="pt">Portugués</option>
                                </select>
                            </form>
                        </li>
                    {% else %}
                        <p>Error</p>
                    {% endif %}
                </ul>
            </header>
            <div id="header"></div>
            {% block content %}{% endblock %}

            {% block scripts %}{% endblock %}
        </body>
    </html>
{% else %}
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Error</title>
        </head>
        <body>
            <h1>Server crashed, please try again later!</h1>
        </body>
    </html>
{% endif %}